<!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">     
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
             <label for="name">Project Name</label>
             <input
                type="text"
                id="name" 
                formControlName="name"
                class="form-control">   
                <span *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched" class="help-block">
                <span *ngIf="signupForm.get('userData.name').errors['nameIsForbidden']">This name is invalid !</span>
                <span *ngIf="signupForm.get('userData.name').errors['required']">This field is required !</span>             
             </span>
          </div>
              <div class="form-group">
                <label for="email">Mail</label>
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control">
                <span
                  *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" 
                  class="help-block">Please enter a valid email !</span>
              </div>         
              <div class="form-group">
                <label for="status">Project Status</label>
                <select
                  id="status"
                  class="form-control"
                  [ngModel]="defaultStatus"
                  formControlName="status">
                  <option value="stable">Stable</option>
                  <option value="critical">Critical</option>
                  <option value="finished">Finished</option>
                </select>
               </div>
               <hr>
               <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Submit</button>
              </div>
            </form>
          </div>
       </div>
</div>
